.container{
    margin-top: 40px;
}
.container .row1{
    height: 30px;
    width: 100%;
    border-bottom: 1px black;
    text-align: center;
}
.container .row2{
    text-align: center;
    align-items: center;
}
.col-2 button{
    margin: 0px 10px;
}
.col-3 img{
    width: 80px;
    height: 80px;
}
