.form-group{
    border: 1px solid rgb(134, 134, 134);
    width: 450px;
    height: 500px;
    margin: auto;
}
.form-group form{
    padding: 20px 25px;
}
.form-group form span{
    display: block;
    font-size: xx-large;
    text-align: center;
}
.form-group form button{
    display: block;
    margin-left: 160px;
    margin-top: 30px;
}
.payment {
    width: 600px;
    height: auto;
}
.checkout p {
    display: inline;
}
.checkout img{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.outline{
    margin-left: 41%;
}